@page
@model OperationControl.Pages.CheckingFinalDayModel
@{
    ViewData["Title"] = "Final Day Checking";
}
<style>
    /* Estilos mantidos para o layout */
</style>
<div class="text-center">
    <h1 class="display-18 custom-heading">End of day Checking</h1>
</div>

<div class="custom-form">
    <form method="post">

        @foreach (var tool in Model.Tools)
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@tool.ToolName:</label>
                <div class="col-sm-9 d-flex align-items-center">
                    <div class="form-check" style="margin-left: 20px;">
                        <input class="form-check-input" type="radio" name="@($"radioGroup_{tool.ToolId}")" asp-for="@tool.Estado" value="Ok">
                        <label class="form-check-label">Ok</label>
                    </div>
                    <div class="form-check" style="margin-left: 30px;">
                        <input class="form-check-input" type="radio" name="@($"radioGroup_{tool.ToolId}")" asp-for="@tool.Estado" value="Absent">
                        <label class="form-check-label">Absent</label>
                    </div>
                    <div class="form-check" style="margin-left: 40px;">
                        <input class="form-check-input" type="radio" name="@($"radioGroup_{tool.ToolId}")" asp-for="@tool.Estado" value="Damaged">
                        <label class="form-check-label">Damaged</label>
                    </div>
                    <div class="form-check" style="margin-left: 50px;">
                        <input class="form-check-input" type="radio" name="@($"radioGroup_{tool.ToolId}")" asp-for="@tool.Estado" value="Out of Calibration">
                        <label class="form-check-label">Out of Calibration</label>
                    </div>
                </div>
            </div>
        }



    </form>
</div>

<div class="text-right" style="position: fixed; bottom: 80px; right: 20px;">
    <form method="post">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



